@import 'base';

img {
    &.logo-dosenet {
        margin:             4em 100% -0.1% 0;
        padding:            1em;
        background-color:   rgba(255,255,255,0.6);
        border-radius:      4px;
        border:             2px solid;
        border-color:       #B8EDE4;
        box-shadow:         2px 2px 8px #888888;
    }
}

div {
    &.jumbotron {
        max-width:        60em;
        margin:           0.5% auto 4% auto;
        border-radius:    10px;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow:       2px 2px 8px #888888;
    }
    &.gmnoprint, &.gm-style-cc {
        visibility: hidden;
    }
    &.h5 {
        padding:    0.5em 0 0 0;
        font-size:  2em;
        text-align: center;
    }
    &.h2 {
        font-size:  3em;
    }
    &.p {
        padding:    1vw;
        font-size:  1.2em;
        text-align: center;
    }
}

.roundedwrapper {
    background-color:   rgba(255,255,255,0.4);
    border-radius:      10px;
    padding:            0.5em;
    border:             2px solid;
    border-color:       #9DE1E4;
    margin:             0 4% 0% 4%;
    box-shadow:         2px 2px 8px #888888;
}

/* Medium ish screens */
@media all and (max-width: 900px) {
    div {
        &.jumbotron {
            margin:           0.5% 0 4% 0;
            border-radius:    0px;
            max-width:        none;
        }
    }
    .roundedwrapper {
        border-radius:      0px;
        padding:            1em;
        border:             0px;
        margin:             0;
        box-shadow:         2px 2px 8px #888888;
    }
}

button {
    &.btn, &.btn-info, &.btn-sm {
        font-size:  1.1em;
    }
}

p {
    &.about {
        padding: 10%;
    }
}

#control-panel {
    text-align: center;
}

td {
    &#displayunits {
        padding-right:  1em;
        width: 150px;
    }
    &#timeframe {
        width: 110px;
    }
    &#dosimeter_list {
        width: 200px;
    }
}

#map-canvas {
    width:          99%;
    min-height:     65vh;
    margin:         0 0.5% 1% 0.5%;

}
#dosimeter_list {
    padding:        0.2em;
    margin-left:    1em;
}

img {
    &.about-logos, &.about-logos-big {
        margin:     3%;
    }
    &.about-logos {
        height:     128px;
    }
    &.about-logos-big {
        height:     256px;
    }

}

.float-right {
    float:          right;
    margin-right:   0.5em;
}

.header-text {
    font-size:      2vw;
    font-family:    $font-stack;
}
.names {
    font-family:    $font-stack;
    color:          #D19000;
}
.reddot {
    height:             1.5em;
    margin-top:         0.5em;
    margin-left:        auto;
    margin-right:       auto;
}
.plot {
    width:              100%;
    min-height:         35em;
}
.center {
    text-align:         center;
}
.vcenteralign {
    vertical-align:     center;
}
.transbg {
    background-color:   transparent;
}
.dropdown {
    margin:             auto;
    margin-top:         0.5em;
    margin-bottom:      0.5em;
}
.paddingtop{
    padding-top:    1em;
}

/*-------- LABELS ON GMAP ----------*/
.labels {
	background-color:      #ffffff;
	-moz-border-radius:    5px;
	border-radius:         5px;
	font-size:             110%;
}
.label-info {
	background-color: #5bc0de;
}
.label {
	display:       inline;
	padding:       .2em .6em .3em;
	font-size:     75%;
	font-weight:   bold;
	line-height:   1;
	color:         #fff;
	text-align:    center;
	white-space:   nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}
