html {
  background: #93cede;
  /* Old Browsers */
  background: -moz-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  /* IE 10+ */
  background: linear-gradient(to right, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
  /* IE6-9 */
  	/*-webkit-font-smoothing: antialiased;
      background: -webkit-linear-gradient(135deg, #69c8e7 0%, #49d3b4 100%);
      background: -moz-linear-gradient(135deg, #69c8e7 0%, #49d3b4 100%);
      background: -o-linear-gradient(135deg, #69c8e7 0%, #49d3b4 100%);
      background: -ms-linear-gradient(135deg, #69c8e7 0%, #49d3b4 100%);
      background: linear-gradient(-45deg, #69c8e7 0%, #49d3b4 100%);*/ }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 20px auto !important;
  margin-bottom: 0px;
  background-color: transparent !important;
  background: transparent;
  filter: Alpha(opacity=0); }

/*-------FOOTER-----------*/
footer {
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 1;
  margin-top: 3em; }

ol.breadcrumb {
  margin-bottom: 0 !important;
  box-shadow: 1px 2px 10px #999999; }

span.label-default {
  margin-left: 10px; }

nav.navbar-static-bottom {
  margin-top: 2em;
  margin-bottom: 0; }

ul.list-group {
  margin-bottom: 0px; }

img {
  /* Social buttons/images */ }
  img.button:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    /* For IE8 and earlier shit*/ }
  img.button {
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier shit*/
    height: 32px; }

img.logo-dosenet {
  margin: 4em 0 -0.1% 0.5%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  border: 2px solid;
  border-color: #B8EDE4;
  box-shadow: 2px 2px 8px #888888; }

div.jumbotron {
  margin: 1%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 8px #888888; }
div.gmnoprint, div.gm-style-cc {
  visibility: hidden; }
div.h5 {
  padding: 0.5em 0 0 0;
  font-size: 2em;
  text-align: center; }
div.h2 {
  font-size: 3em; }
div.p {
  padding: 1vw;
  font-size: 1.2em;
  text-align: center; }

button.btn, button.btn-info, button.btn-sm {
  font-size: 1.1em; }

td#displayunits {
  padding-right: 1em;
  width: 150px; }
td#timeframe {
  width: 110px; }
td#dosimeter_list {
  width: 200px; }

#map-canvas {
  width: 99%;
  min-height: 65vh;
  margin: 0 0.5% 1% 0.5%; }

#dosimeter_list {
  padding: 0.2em;
  margin-left: 1em; }

.header-text {
  font-size: 2vw;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.names {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #D19000; }

.reddot {
  height: 1.5em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto; }

.plot {
  width: 100%;
  min-height: 35em; }

.center {
  text-align: center; }

.vcenteralign {
  vertical-align: center; }

.transbg {
  background-color: transparent; }

.dropdown {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.roundedwrapper {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 0.5em;
  border: 2px solid;
  border-color: #9DE1E4;
  margin: 0 0.5% 0.5% 0.5%;
  box-shadow: 2px 2px 8px #888888; }

.paddingtop {
  padding-top: 1em; }

/*-------- LABELS ON GMAP ----------*/
.labels {
  background-color: #ffffff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 110%; }

.label-info {
  background-color: #5bc0de; }

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

/*# sourceMappingURL=dosenet.css.map */
